body {
    font-family: 'Sono', sans-serif;
  }

  .pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .pricing-plan {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
  }

  .plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .plan-price {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .plan-features {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .plan-features li {
    margin-bottom: 20px;
  }

  .plan-button {
    padding: 10px;
    background-color: #ff6600;
    color: midnightblue;
    border-radius: 5px;
    border: none;
  }

  @media (max-width: 1250px) {
    .pricing-container {
      flex-direction: column;
      height: 100%;
    }
  }
  #IP {
    font-weight: bold;
    align-items: center;
    color: black;
    list-style: none;
  }
  #IP > #note1 {
    font-weight: lighter;
    font-style: italic;
    list-style: none;
    align-items: center;
  }
  #STBSP {
    font-weight: bold;
    color: black;
    align-items: center;
    list-style: none;
  }
  #STBSP > #note2 {
    font-weight: lighter;
    font-style: italic;
    list-style: none;
    align-items: center;
    
  }
  .note {
    text-align: center;
    color: 	#8B0000;
    justify-content: flex-end;
  }
  #special {
    font-weight: bold;
    color: red;
  }
  #footer {
    text-align: center;
    color: midnightblue;
    justify-content: center;
    clear: both;

    
  }